 
  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-image: url("https://images4.alphacoders.com/783/783472.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    width: 700px;
    height: 300px;
    animation-duration: 3s;
    animation-name: logo;
    animation-iteration-count: infinite;
  }
  
  @keyframes logo {
    50% {
      width: 600px;
      height: 200px;
    }
  
    50% {
      width: 500px;
      height: 150px;
    }
  }