.topnav {
    overflow: hidden;
    background-color: var(--color-bg-tertiary);
    box-sizing: border-box;
    width: 100%;
  
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--color-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-tertiary);
  }
  
  .topnav a.active {
    background-color: var(--color-text-secondary);
    color: var(--color-bg-tertiary);
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: var( --color-bg-secondary);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  /* @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
  } */ 



  /* nav {
    display: flex;
    align-items: center;
} */

/* span {
    color: white;
} */

/* .navbar {
    margin-top: 20px;
    z-index: 9;
} */

/* .searchBar {
    width: 100%;
}*/

